.link {
  a {
    color: #395E66;
    font-size: 16;
    font-weight: 300;
    text-decoration: none;
    transition: color 0.5s linear;
    font-weight: Bold;
    letter-spacing: 0;
    font-family: 'Muli';

    &:hover {
      opacity: 0.7;
    }
  }
}

.navbar {
  box-sizing: border-box;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 24px 16px;
  width: 86%;
  transition: background-color 0.5s linear;
  text-decoration-color: #395E66;
  font-family: 'Muli';
}

.header-logo {
  height: auto;
  width: 170px;
}

.link-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #395E66;

  .link {
    margin-right: 16px;
  }

  .link:last-child {
    margin-right: 0px;
  }
}


.navbar.white-navbar {
  background-color: white;

  .link {
    color: black;
  }
}

.menu-button {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  display: none;
}

.mobile-link-container {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 0px 34px 26px 34px;
  transition: background-color 0.5s linear;
  font-family: 'Muli';
  cursor: pointer;
  text-decoration: none;

  .link {
    transition: color 0.5s linear;

    a {
      padding: 1em;
      display: block;
    }
  }

  &.white-navbar {
    background-color: white;

    .link {
      color: black;
    }
  }
}

@media (max-width: 790px) {
  .menu-button {
    display: flex;
  }

  .navbar {
    padding: 24px;
    width: 100%;
  }

  .header-logo {
    margin-right: 0px;
  }

  .link-container {
    display: none;
  }
}

.entrar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Muli;
  letter-spacing: 0;
  color: #53B67F;
  transition: color 0.5s linear;
  width: 108px;
  height: 33px;
  background: #53B67F14 0% 0% no-repeat padding-box;
  border: 1px solid #53B67F1A;
  border-radius: 25px;
  transition: color 0.5s linear;
  outline: none;
  cursor: pointer;
}