.link {
  color: #395E66;
  font-size: 16;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.5s linear;
  font-weight: Bold;
  letter-spacing: 0;
  font-family: 'Muli';
  

  &:hover {
    opacity: 0.7;
  }
}
.navbar {
  background: white;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 10em;
  padding-right: 10em;
  transition: background-color 0.5s linear;
  text-decoration-color: #395E66;
  font-family: 'Muli';
  cursor: pointer;
}
.header-logo {
  height: 32px;
  width: 167.6px;
  margin-right: 200px;
}
.link-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  color: #395E66; 
}


.navbar.white-navbar {
  background-color: white;

  .link {
    color: black;
  }
}
.menu-button {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  display: none;
}
.mobile-link-container {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 0px 34px 26px 34px;
  transition: background-color 0.5s linear;
  font-family: 'Muli';
  cursor: pointer;
  text-decoration: none;
  .link {
    transition: color 0.5s linear;
  }
  &.white-navbar {
    background-color: white;
    .link {
      color: black;
    }
  }
}

@media (max-width: 790px) {
  .menu-button {
    display: flex;
  }
  .navbar {
    padding: 24px;
  }
  .header-logo {
    margin-right: 0px;
  }
  .link-container {
    display: none;
  }
}
.entrar{
 font-family: Muli;
 letter-spacing: 0;
 color: #53B67F;
 transition: color 0.5s linear;
 top: 76px;
 left: 1681px;
 width: 108px;
 height: 33px;
 background: #53B67F14 0% 0% no-repeat padding-box;
 border: 1px solid #53B67F1A;
 border-radius: 25px;
 transition: color 0.5s linear;
 cursor: pointer;
}