.link {
  color: #395E66;
  font-size: 24px/63px;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.5s linear;
  font-weight: Bold;
  letter-spacing: 0;
  align-items: center;

  &:hover {
    opacity: 1;
  }
}
.nav {
  background: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 10em;
  padding-right:10em;
  transition: background-color 0.5s linear;
  text-decoration-color: #395E66;
  font-family: 'Muli';
  cursor:pointer;

}
.header-logo {
  height: 26px;
  width: 145.6px;
  margin-right: 250px;
 
}
.link-container {
  display: flex;
  flex: 1;
  justify-content: space-around;

}
.selected {
  font-weight: bold;
  
}

.white-navbar {
  background-color: white;
  background: #395E66;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;
    display: flex;
    padding-left: 10em;
    padding-right:10em;
    transition: background-color 0.5s linear;
    text-decoration-color: #395E66;
    font-family: 'Muli';

  
}
.link-container{
top: 65px;
left: 1012px;
width: 174px;
height: 30px;
font-family: 'Muli';
letter-spacing: 0;
color: #395E66;
opacity: 1;
text-decoration: none;
font-weight: bold;
justify-content: space-between;
display: flex;

}

.menu-button {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  display: none;
}
.mobile-link-container {      
  background: #6666;
  display: flex;
  flex-direction: column;
  padding: 0px 24px 16px 24px;
  transition: background-color 0.5s linear;
  .link {
    transition: color 0.5s linear;
  }
   
  &.white-navbar {
    background-color: white;
    .link {
      color: #666;


    }
  }
}

@media (max-width: 700px) {
  .menu-button {
    display: flex;
  }
  .navbar {
    padding: 24px;
  }
  .header-logo {
    margin-right: 0px; 
  }
  .link-container {
    display: none;
  }
}

.entrar{
  font-family: Muli;
  letter-spacing: 0;
  color: #53B67F;
  opacity: 1;
  top: 66px;
  left: 1681px;
  width: 68px;
  height: 30px;
  background: #53B67F14 0% 0% no-repeat padding-box;
border: 1px solid #53B67F1A;
border-radius: 25px;
opacity: 1;
}