.juscredit-input {
  top: 7px;
  left: 122px;
  width: 620px;
  height: 62px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 71px;
opacity: 1;
color: #030B6117;
text-align: center;
}
