main.be-part-container {
  margin: 100px 15em;
  padding: 56px;
  border-radius: 32px;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.15);
  position: relative;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  font-family: Muli;
  color: #395E66;

  
  div {
    display: flex;
    flex: 0.8;
    flex-direction: column;
    h1 {
        color: #395E66;
        font-family: Muli;

    }
    label {
        color: white;
        margin-bottom: 16px;
    }
  }
  .bg-left {
    top: 0;
    position: absolute;
    left: -35px;
  }
  .bg-right {
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 0;
  }
  background-position-x: -500px;

  a {
      color: #395E66;
      text-decoration: underline;
      font-weight: bold;
      cursor: pointer;
      margin-top: 16px;
  }
  .producer {
      flex: 0.45;
      display: flex;
      z-index: 1;
      padding-left: 100px;
  }
}
.not-found {
  color: #FFFFFF;
  margin-bottom: 8px !important;
}
.user-not-found {
  color: #FFFFFF;
  margin-bottom: 8px !important;
  font-weight: bold;
  font-size: 14px;
}

@media(max-width: 790px) {

  main.be-part-container {
    padding: 32px;
    div {
      flex:1;
      padding: 0;
    }

    .bg-left, .bg-right, .producer {
      display: none;
    }
  }
}