main.be-part-container {
  padding: 85px 15em 0px 15em;
  background-color: #97d65a;
  position: relative;
overflow: hidden;
  display: flex;
  div {
    display: flex;
    flex: 0.8;
    flex-direction: column;
    h1 {
        color: #2E8700;
    }
    label {
        color: white;
        margin-bottom: 16px;
    }
  }
  .bg-left {
    top: 0;
    position: absolute;
    left: -35px;
  }
  .bg-right {
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 0;
  }
  background-position-x: -500px;

  a {
      color: #2E8700;
      text-decoration: underline;
      font-weight: bold;
      cursor: pointer;
      margin-top: 16px;
  }
  .producer {
      flex: 0.45;
      display: flex;
      z-index: 1;
      padding-left: 100px;
  }
}
.not-found {
  color: indianred;
  margin-bottom: 8px !important;
}
.user-not-found {
  color: indianred;
  margin-bottom: 8px !important;
  font-weight: bold;
  font-size: 14px;
}

@media(max-width: 790px) {

  main.be-part-container {
    padding: 32px;
    div {
      flex:1;
      padding: 0;
    }

    .bg-left, .bg-right, .producer {
      display: none;
    }
  }
}