.button {
  border: none;
  padding: 0 16px;
  color: white;
  font-size: 16px;
  font-family: "Muli", "Regular";
  font-weight: bold;
  cursor: pointer;
  top: 563px;
  left: 142px;
  width: 190px;
  height: 70px;
  margin: 0 10px;

  &.primary {
    background: transparent linear-gradient(254deg, #53B67F 0%, #086C7B 100%) 0% 0% no-repeat padding-box; 
    border-radius: 40px;
    opacity: 1;
    align-content: space-between;
 
   }

  &.secondary {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #53B67F, #086C7B);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    color: #086C7B ;
    border: solid 3px transparent;
    border-radius: 100rem;
    background-color: white;
    align-content: center;

    
  }
    
  &.third {
    text-align: flex;
    font-family: "Muli", "Regular";
    letter-spacing: 0;
    color: #086C7B;
    opacity: 1;
    background-color: white;
    }

    
  &.fourth {
    background: transparent linear-gradient(254deg, #53B67F 0%, #086C7B 100%) 0% 0% no-repeat padding-box; 
    border-radius: 40px;
    opacity: 1;
    top: 463px;
    left: 0px;
    width: 234px;
    height: 70px;
    margin: 0 10px;
    }

  &:hover {
    opacity: 0.7;
  }
}
button:disabled,
.button[disabled] {
    background: #CCC;

}
