.button {
  border: none;
  padding: 0 16px;
  color: white;
  font-size: 16px;
  font-family: "Kastelov";
  font-weight: bold;
  cursor: pointer;
  height: 42px;

  &.primary {
    background: #50b848;
  }

  &.secondary {
    background: #f37021;
  }

  &:hover {
    opacity: 0.7;
  }
}
button:disabled,
.button[disabled] {
    background: #CCC;


}
