.associates-container {
  background: rgba(196, 196, 196, 0.1);
  padding: 50px 10em 70px 10em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  h1 {
    color: #46932b;
    text-align: center;
    margin-bottom: 70px;
  }
}

.media-container {
  padding: 50px 10em 70px 10em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  h1 {
    color: #5bc4f4;
    text-align: center;
    margin-bottom: 70px;
  }
}

.news-container {
  display: flex;
  justify-content: space-around;
  flex: 1;
  .media {
    display: flex;
    flex-direction: column;
    color: #5bc4f4;
    font-weight: bold;
    &:not(:last-child) {
      margin-right: 32px;
    }
    a {
      text-decoration: underline;
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 700px) {
  .news-container {
    overflow: scroll;
    width: -webkit-fill-available;
    padding-bottom: 8px;
  }
  .media-container {
    padding: 50px 8px;
  }
  .associates-container {
    padding: 50px 8px;
  }
  .image-container {
    width: -webkit-fill-available;
    overflow: scroll;
  }
}
