header scss
.link {
  color: #395E66;
  font-size: 24px/63px;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.5s linear;
  font-weight: Bold;
  letter-spacing: 0; }
  header scss
.link:hover {
    opacity: 1; }

.navbar {
  background: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  display: flex;
  align-items: right;
  padding-left: 10em;
  padding-right: 10em;
  transition: background-color 0.5s linear;
  text-decoration-color: #395E66; }

.header-logo {
  height: 26px;
  width: 145.6px;
  margin-right: 350px; }

.link-container {
  display: flex;
  flex: 1;
  justify-content: space-around; }

.selected {
  font-weight: bold; }

.navbar.white-navbar {
  background-color: white; }
  .navbar.white-navbar .link {
    color: black; }

.menu-button {
  cursor: pointer;
  display: none; }
  .menu-button:hover {
    opacity: 0.7; }

.mobile-link-container {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 0px 24px 16px 24px;
  transition: background-color 0.5s linear; }
  .mobile-link-container .link {
    transition: color 0.5s linear; }
  .mobile-link-container.white-navbar {
    background-color: white; }
    .mobile-link-container.white-navbar .link {
      color: #395E66; }

@media (max-width: 700px) {
  .menu-button {
    display: flex; }
  .navbar {
    padding: 24px; }
  .header-logo {
    margin-right: 0px; }
  .link-container {
    display: none; } }

.entrar {
  font: Regular 24px/63px Muli;
  letter-spacing: 0;
  color: #53B67F;
  opacity: 1;
  top: 66px;
  left: 1681px;
  width: 68px;
  height: 30px;
  background: #53B67F14 0% 0% no-repeat padding-box;
  border: 1px solid #53B67F1A;
  border-radius: 25px;
  opacity: 1; }

.footer-container {
  background: #53b67f;
  background: radial-gradient(circle, #53b67f 0%, #086c7b 100%);
  padding: 50px 10em;
  display: flex;
  color: white;
  justify-content: space-around;
  border-top-right-radius: 200px 200px;
  position: absolute; }

.footer-logo {
  width: 32px;
  height: 22px; }

.lead-container {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  padding-right: 50px;
  border-right: 1px solid #ffffff; }

.menu {
  display: flex;
  padding-left: 50px;
  flex-direction: column;
  flex: 0.2; }

.contact {
  padding-left: 50px;
  flex: 0.2; }

@media (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    padding: 50px 16px; }
  .lead-container {
    padding: 0;
    border: none; }
  .menu {
    padding: 0; }
  .contact {
    padding: 0; }
  .footer-logo {
    display: none; } }

body {
  margin: 0;
  color: #4e4e4e; }

.map-container {
  padding: 0 10em;
  height: 337px;
  display: flex;
  padding-top: 0px;
  position: relative;
  flex-direction: column; }
  .map-container > h1 {
    top: 1345px;
    left: 142px;
    width: 701px;
    height: 153px;
    text-align: left;
    font: Regular 55px/80px Overpass;
    letter-spacing: 0;
    color: #395E66;
    opacity: 1; }
  .map-container > h2 {
    top: 1522px;
    left: 142px;
    width: 946px;
    height: 106px;
    text-align: left;
    font: Regular 35px/59px Muli;
    letter-spacing: 0;
    color: #395E66;
    opacity: 0.5; }

.Button {
  top: 763px;
  left: 142px;
  width: 274px;
  height: 80px;
  background: transparent linear-gradient(254deg, #53B67F 0%, #086C7B 100%) 0% 0% no-repeat padding-box;
  border-radius: 40px;
  opacity: 1; }

.map {
  position: absolute;
  top: -120px;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/lawer.jpg");
  opacity: 0.2;
  z-index: -1;
  left: 50px; }

.products-bg {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 500px;
  right: 0;
  background: url("/");
  z-index: -1;
  background-size: cover; }

.who-we-are {
  padding: 0 10em;
  position: relative;
  padding-bottom: 110px; }
  .who-we-are p {
    font-size: 16px;
    max-width: 400px; }

.certified-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .certified-container .certificates {
    display: flex;
    padding-bottom: 16px; }
    .certified-container .certificates :first-child {
      margin-right: 16px; }
  .certified-container span {
    font-weight: bold; }
  .certified-container p {
    margin: 0; }

.mission-container {
  background-image: url("/organis-bg.png");
  padding-top: 55px;
  background-blend-mode: screen;
  background-color: #a04096;
  padding-bottom: 80px;
  flex: 1;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column; }
  .mission-container h1 {
    text-align: center; }
  .mission-container p {
    text-align: center;
    padding: 0 15em; }

.traits-container {
  display: flex;
  justify-content: space-around;
  padding: 50px 15em; }

.trait {
  display: flex;
  flex-direction: column; }
  .trait > span {
    font-weight: 600;
    padding-top: 16px;
    max-width: 156px;
    text-align: center; }

.differentials-container {
  padding: 70px 15em 50px 15em;
  text-align: center; }
  .differentials-container > h1 {
    color: #4a9abe; }

.differential-container {
  height: 290px;
  display: flex; }
  .differential-container > div {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center; }
    .differential-container > div:last-child > img {
      right: 0px; }
    .differential-container > div:last-child > h1 {
      flex: 1;
      text-align: right; }
    .differential-container > div > img {
      position: absolute;
      z-index: -1; }
    .differential-container > div > h1 {
      text-align: left; }
  .differential-container > p {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center; }

.thumbs-up {
  top: -30px; }

.video-container {
  padding-top: 100px; }

.profile-choice-container {
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 20em;
  height: 512px;
  align-items: center; }
  .profile-choice-container .bg-left {
    position: absolute;
    left: 0; }
  .profile-choice-container .bg-right {
    position: absolute;
    right: 0; }
  .profile-choice-container .services {
    padding-right: 32px;
    border-right: 1px solid; }
  .profile-choice-container .market {
    margin-left: 32px; }

@media (max-width: 700px) {
  .map-container {
    padding: 0 24px; }
  .who-we-are {
    padding: 50px 24px; }
  .mission-container p {
    padding: 0 24px; }
  .traits-container {
    flex-direction: column;
    padding: 50px 24px; }
  .trait {
    align-items: center;
    margin-bottom: 24px; }
  .differentials-container {
    padding: 70px 24px 50px 24px; }
  .differential-container {
    height: auto;
    flex-direction: column;
    display: flex; }
    .differential-container:nth-child(even) {
      flex-direction: column-reverse; }
  .profile-choice-container {
    margin-top: 0px;
    padding: 0 24px;
    flex-direction: column; }
    .profile-choice-container .bg-left {
      opacity: 0.15; }
    .profile-choice-container .bg-right {
      display: none; }
    .profile-choice-container .services {
      padding: 0;
      border: none; }
    .profile-choice-container .market {
      margin: 0; }
  iframe {
    width: fit-content; } }

.button {
  border: none;
  padding: 0 16px;
  color: white;
  font-size: 16px;
  font-family: "Kastelov";
  font-weight: bold;
  cursor: pointer;
  height: 42px; }
  .button.primary {
    background: #50b848; }
  .button.secondary {
    background: #f37021; }
  .button:hover {
    opacity: 0.7; }

button:disabled,
.button[disabled] {
  background: #CCC; }

.associates-container {
  background: rgba(196, 196, 196, 0.1);
  padding: 50px 10em 70px 10em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; }
  .associates-container h1 {
    color: #46932b;
    text-align: center;
    margin-bottom: 70px; }

.media-container {
  padding: 50px 10em 70px 10em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; }
  .media-container h1 {
    color: #5bc4f4;
    text-align: center;
    margin-bottom: 70px; }

.news-container {
  display: flex;
  justify-content: space-around;
  flex: 1; }
  .news-container .media {
    display: flex;
    flex-direction: column;
    color: #5bc4f4;
    font-weight: bold; }
    .news-container .media:not(:last-child) {
      margin-right: 32px; }
    .news-container .media a {
      text-decoration: underline; }
      .news-container .media a:hover {
        opacity: 0.7;
        cursor: pointer; }

@media (max-width: 700px) {
  .news-container {
    overflow: scroll;
    width: -webkit-fill-available;
    padding-bottom: 8px; }
  .media-container {
    padding: 50px 8px; }
  .associates-container {
    padding: 50px 8px; }
  .image-container {
    width: -webkit-fill-available;
    overflow: scroll; } }


/*# sourceMappingURL=styles.chunk.css.map*/