.link {
  color: #395E66;
  font-size: 24px/63px;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.5s linear;
  font-weight: Bold;
  letter-spacing: 0;
  align-items: center; }
  .link:hover {
    opacity: 1; }

.nav {
  background: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  display: flex;
  padding-left: 10em;
  padding-right: 10em;
  transition: background-color 0.5s linear;
  text-decoration-color: #395E66;
  font-family: 'Muli'; }

.header-logo {
  height: 26px;
  width: 145.6px;
  margin-right: 250px; }

.link-container {
  display: flex;
  flex: 1;
  justify-content: space-around; }

.selected {
  font-weight: bold; }

.white-navbar {
  background-color: white;
  background: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  display: flex;
  padding-left: 10em;
  padding-right: 10em;
  transition: background-color 0.5s linear;
  text-decoration-color: #395E66;
  font-family: 'Muli'; }

.link-container {
  top: 65px;
  left: 1012px;
  width: 174px;
  height: 30px;
  font-family: 'Muli';
  letter-spacing: 0;
  color: #395E66;
  opacity: 1;
  text-decoration: none;
  font-weight: bold;
  justify-content: space-between;
  display: flex; }

.menu-button {
  cursor: pointer;
  display: none; }
  .menu-button:hover {
    opacity: 0.7; }

.mobile-link-container {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 0px 24px 16px 24px;
  transition: background-color 0.5s linear; }
  .mobile-link-container .link {
    transition: color 0.5s linear; }
  .mobile-link-container.white-navbar {
    background-color: white; }
    .mobile-link-container.white-navbar .link {
      color: #666; }

@media (max-width: 700px) {
  .menu-button {
    display: flex; }
  .navbar {
    padding: 24px; }
  .header-logo {
    margin-right: 0px; }
  .link-container {
    display: none; } }

.entrar {
  font: Regular 24px/63px Muli;
  letter-spacing: 0;
  color: #53B67F;
  opacity: 1;
  top: 66px;
  left: 1681px;
  width: 68px;
  height: 30px;
  background: #53B67F14 0% 0% no-repeat padding-box;
  border: 1px solid #53B67F1A;
  border-radius: 25px;
  opacity: 1; }

.footer-container {
  background: #53b67f;
  background: radial-gradient(circle, #53b67f 0%, #086c7b 100%);
  display: flex;
  color: white;
  border-top-right-radius: 200px 200px;
  justify-content: space-around;
  flex-direction: row; }
  .footer-container .a {
    font-family: 'Overpass';
    color: #FFFFFF;
    opacity: 1;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 10px; }
  .footer-container .h3 {
    font-family: 'Overpass';
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 10px; }

.lead-container {
  display: flex;
  flex-direction: column;
  flex: 0.2; }
  .lead-container .a {
    font-family: 'Overpass';
    color: #FFFFFF;
    opacity: 1;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 10px; }
  .lead-container .h3 {
    font-family: 'Overpass';
    color: #9BADB1;
    opacity: 0.5;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 10px; }

.footer-logo {
  width: 22px;
  height: 22px; }

.menu {
  display: flex;
  padding-left: 15px;
  flex-direction: column;
  flex: 0.2; }

.contact {
  padding-left: 15px;
  flex: 0.2; }
  .contact .a {
    font-family: 'Overpass';
    color: #FFFFFF;
    opacity: 1;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 10px; }
  .contact .h3 {
    font-family: 'Overpass';
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 10px; }

.abfintech {
  margin-top: 100px; }

.disclaimer-container {
  align-content: center; }

@media (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    padding: 40px 16px; }
  .menu {
    padding: 0; }
  .contact {
    padding: 0; }
  .footer-logo {
    display: none; } }

main.be-part-container {
  padding: 85px 15em 0px 15em;
  background-color: #97d65a;
  position: relative;
  overflow: hidden;
  display: flex;
  background-position-x: -500px; }
  main.be-part-container div {
    display: flex;
    flex: 0.8;
    flex-direction: column; }
    main.be-part-container div h1 {
      color: #2E8700; }
    main.be-part-container div label {
      color: white;
      margin-bottom: 16px; }
  main.be-part-container .bg-left {
    top: 0;
    position: absolute;
    left: -35px; }
  main.be-part-container .bg-right {
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 0; }
  main.be-part-container a {
    color: #2E8700;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    margin-top: 16px; }
  main.be-part-container .producer {
    flex: 0.45;
    display: flex;
    z-index: 1;
    padding-left: 100px; }

.not-found {
  color: indianred;
  margin-bottom: 8px !important; }

.user-not-found {
  color: indianred;
  margin-bottom: 8px !important;
  font-weight: bold;
  font-size: 14px; }

@media (max-width: 790px) {
  main.be-part-container {
    padding: 32px; }
    main.be-part-container div {
      flex: 1;
      padding: 0; }
    main.be-part-container .bg-left, main.be-part-container .bg-right, main.be-part-container .producer {
      display: none; } }

body {
  min-width: 768px;
  padding-block-end: initial;
  flex-direction: row; }

.map-container {
  padding: 0 6.5em;
  padding-top: 120px;
  height: 437px;
  display: flex;
  position: relative;
  flex-direction: column; }
  .map-container h1 {
    margin-top: 0px;
    text-align: left;
    font-family: 'Overpass';
    letter-spacing: 0;
    color: #395E66;
    opacity: 1;
    font-size: 50px;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 40px; }
  .map-container h2 {
    margin-top: 40px;
    text-align: left;
    font-family: 'Overpass';
    letter-spacing: 0;
    color: #9BADB1;
    opacity: 1;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 50px;
    margin-left: 40px; }
  .map-container h3 {
    text-align: left;
    font-family: "Muli-Regular";
    letter-spacing: 0;
    color: #395E66;
    opacity: 50%; }
  .map-container h4 {
    top: 6019px;
    left: 593px;
    width: 766px;
    height: 38px;
    text-align: left;
    font-family: 'Muli';
    letter-spacing: 0;
    color: #395E66;
    opacity: 50%; }

.map {
  position: absolute;
  top: 0px;
  bottom: 40px;
  left: 0px;
  right: 50px;
  background: url("/anteceba.svg") no-repeat;
  background-size: contain;
  z-index: -1; }

.buttons-container {
  flex: 0.5;
  justify-content: space-between; }
  .buttons-container > .button {
    margin-right: 24px;
    min-width: 179px;
    margin-bottom: 8px; }
    .buttons-container > .button h1 {
      margin-top: 0px;
      text-align: left;
      font-family: 'Overpass';
      letter-spacing: 0;
      color: #395E66;
      opacity: 1;
      font-size: 50px;
      font-weight: 200;
      margin-bottom: 0;
      margin-left: 40px; }
    .buttons-container > .button h2 {
      margin-top: 40px;
      text-align: left;
      font-family: 'Overpass';
      letter-spacing: 0;
      color: #9BADB1;
      opacity: 1;
      font-size: 25px;
      font-weight: 200;
      margin-bottom: 50px;
      margin-left: 40px; }
    .buttons-container > .button h3 {
      text-align: left;
      font-family: 'Muli';
      letter-spacing: 0;
      color: #395E66;
      opacity: 1; }
    .buttons-container > .button h4 {
      top: 6019px;
      left: 593px;
      width: 766px;
      height: 38px;
      text-align: left;
      font-family: 'Muli';
      letter-spacing: 0;
      color: #395E66;
      opacity: 1; }

.antecipar {
  padding: 0 10em;
  position: relative;
  padding-bottom: 110px; }
  .antecipar h1 {
    margin-top: 50px;
    text-align: left;
    font-family: 'Overpass';
    letter-spacing: 0;
    color: #395E66;
    opacity: 1;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 0px; }
  .antecipar h2 {
    margin-top: 20px;
    text-align: left;
    font-family: 'Overpass';
    letter-spacing: 0;
    color: #9BADB1;
    opacity: 1;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 1px;
    margin-left: 0px; }
  .antecipar h3 {
    text-align: left;
    font-family: 'Muli';
    letter-spacing: 0;
    color: #395E66;
    opacity: 1; }
  .antecipar h4 {
    top: 6019px;
    left: 593px;
    width: 766px;
    height: 38px;
    text-align: left;
    font-family: 'Muli';
    letter-spacing: 0;
    color: #395E66;
    opacity: 1; }
  .antecipar .duvidas-container {
    padding-bottom: 110px;
    flex-direction: column; }
    .antecipar .duvidas-container h1 {
      margin-top: 5px;
      text-align: left;
      font-family: 'Overpass';
      letter-spacing: 0;
      color: #395E66;
      opacity: 1;
      font-size: 40px;
      font-weight: 200;
      margin-bottom: 0;
      margin-left: 10px; }
    .antecipar .duvidas-container h2 {
      margin-top: 10px;
      text-align: left;
      font-family: 'Overpass';
      letter-spacing: 0;
      color: #9BADB1;
      opacity: 1;
      font-size: 25px;
      font-weight: 200;
      margin-bottom: 30px;
      margin-left: 10px; }
  .antecipar .poligono-container {
    background-image: url("/poligono.svg");
    resize: 'cover'; }
  .antecipar .cursor-container {
    position: flex;
    text-align: right;
    padding: 0 50em; }
  .antecipar .parceiros-container {
    top: 5547px;
    left: 1033px;
    right: 1000px;
    width: 656px;
    height: 65px;
    padding-bottom: 200px;
    padding-left: 180px;
    text-align: center; }
    .antecipar .parceiros-container h1 {
      text-align: center;
      font-family: 'Overpass';
      letter-spacing: 0;
      color: #395E66;
      opacity: 1;
      font-size: 40px;
      position: center; }
    .antecipar .parceiros-container h2 {
      font-family: 'Muli';
      text-align: center;
      letter-spacing: 0;
      color: #395E66;
      opacity: 50%;
      position: center;
      margin-bottom: 20px; }
    .antecipar .parceiros-container h3 {
      text-align: center;
      font-family: 'Muli';
      letter-spacing: 0;
      color: #395E66;
      opacity: 50%; }
    .antecipar .parceiros-container h4 {
      top: 6019px;
      left: 593px;
      width: 766px;
      height: 38px;
      font-family: 'Muli';
      letter-spacing: 0;
      color: #395E66;
      opacity: 50%; }
  .antecipar .poligono-container {
    position: absolute;
    top: 0px;
    bottom: 40px;
    left: 0px;
    right: -150px;
    background: url("/poligono.svg");
    z-index: -1;
    background-size: cover; }

.button {
  border: none;
  padding: 0 16px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Muli';
  cursor: pointer;
  height: 20px;
  top: 10px;
  margin: 0 0px;
  left: 122px;
  width: 134px;
  height: 56px; }
  .button.primary {
    background: transparent linear-gradient(254deg, #53B67F 0%, #086C7B 100%) 0% 0% no-repeat padding-box;
    border-radius: 40px;
    opacity: 1;
    margin-left: 35px; }
  .button.secondary {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #53B67F, #086C7B);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    color: #086C7B;
    border: solid 3px transparent;
    border-radius: 100rem;
    background-color: white; }
  .button.third {
    font-family: 'Muli';
    font-weight: bold;
    letter-spacing: 0;
    color: #086C7B;
    opacity: 1;
    background-color: white;
    top: 563px;
    left: 142px;
    width: 234px;
    height: 70px;
    margin: 0 10px;
    margin-top: 40px; }
  .button.fourth {
    background: transparent linear-gradient(254deg, #53B67F 0%, #086C7B 100%) 0% 0% no-repeat padding-box;
    border-radius: 40px; }
  .button:hover {
    opacity: 0.7; }

button:disabled,
.button[disabled] {
  background: #CCC; }

.juscredit-input {
  top: 0px;
  width: 230px;
  background: 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 50px #030B6117;
  opacity: 1;
  border-radius: 51px;
  opacity: 1;
  margin-top: 5px;
  align-items: center;
  size: 31px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding-right: 50px;
  padding-left: 60px;
  height: 48px; }


/*# sourceMappingURL=styles.chunk.css.map*/