.link {
  color: #395E66;
  font-size: 24px/63px;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.5s linear;
  font-weight: Bold;
  letter-spacing: 0;
  max-width: 1125px; }
  .link:hover {
    opacity: 1; }

.nav {
  background: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  padding-left: 10em;
  padding-right: 10em;
  transition: background-color 0.5s linear;
  text-decoration-color: #395E66;
  font-family: 'Muli';
  cursor: pointer;
  max-width: 1128px; }

.header-logo {
  height: 26px;
  width: 145.6px;
  margin-right: 250px; }

.link-container {
  display: flex;
  flex: 1;
  justify-content: space-around; }

.selected {
  font-weight: bold; }

.white-navbar {
  background-color: white;
  background: #395E66;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  display: flex;
  padding-left: 10em;
  padding-right: 10em;
  transition: background-color 0.5s linear;
  text-decoration-color: #395E66;
  font-family: 'Muli'; }

.navbar.white-navbar {
  background-color: white; }
  .navbar.white-navbar .link {
    color: black; }

.link-container {
  top: 65px;
  left: 1012px;
  width: 174px;
  height: 30px;
  font-family: 'Muli';
  letter-spacing: 0;
  color: #395E66;
  opacity: 1;
  text-decoration: none;
  font-weight: bold;
  justify-content: space-between;
  display: flex; }

.menu-button {
  cursor: pointer;
  display: none; }
  .menu-button:hover {
    opacity: 0.7; }

.mobile-link-container {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 0px 24px 16px 24px;
  transition: background-color 0.5s linear; }
  .mobile-link-container .link {
    transition: color 0.5s linear; }
  .mobile-link-container.white-navbar {
    background-color: white; }
    .mobile-link-container.white-navbar .link {
      color: #ffffff; }

@media (max-width: 790px) {
  .menu-button {
    display: flex; }
  .navbar {
    padding: 24px; }
  .header-logo {
    margin-right: 0px; }
  .link-container {
    display: none; } }

.entrar {
  font-family: Muli;
  letter-spacing: 0;
  color: #53B67F;
  opacity: 1;
  top: 66px;
  left: 1681px;
  width: 98px;
  height: 33px;
  background: #53B67F14 0% 0% no-repeat padding-box;
  border: 1px solid #53B67F1A;
  border-radius: 25px;
  opacity: 1;
  cursor: pointer; }

.button {
  border: none;
  padding: 0 16px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Muli';
  cursor: pointer;
  height: 20px;
  top: 10px;
  margin: 0 0px;
  left: 122px;
  width: 134px;
  height: 56px; }
  .button.primary {
    background: transparent linear-gradient(254deg, #53B67F 0%, #086C7B 100%) 0% 0% no-repeat padding-box;
    border-radius: 40px;
    opacity: 1;
    margin-left: 35px; }
  .button.secondary {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #53B67F, #086C7B);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    color: #086C7B;
    border: solid 3px transparent;
    border-radius: 100rem;
    background-color: white; }
  .button.third {
    font-family: 'Muli';
    font-weight: bold;
    letter-spacing: 0;
    color: #086C7B;
    opacity: 1;
    background-color: white;
    top: 563px;
    left: 142px;
    width: 234px;
    height: 70px;
    margin: 0 10px;
    margin-top: 40px; }
  .button.fourth {
    background: transparent linear-gradient(254deg, #53B67F 0%, #086C7B 100%) 0% 0% no-repeat padding-box;
    border-radius: 40px; }
  .button:hover {
    opacity: 0.7; }
  .button.sixty {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #53B67F, #086C7B);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    color: #086C7B;
    border: solid 3px transparent;
    border-radius: 100rem;
    background-color: white;
    margin-left: 390px; }
  .button .seven {
    font-family: Muli;
    letter-spacing: 0;
    color: #53B67F;
    opacity: 1;
    top: 66px;
    left: 1681px;
    width: 68px;
    height: 30px;
    background: #53B67F14 0% 0% no-repeat padding-box;
    border: 1px solid #53B67F1A;
    border-radius: 25px;
    opacity: 1; }

button:disabled,
.button[disabled] {
  background: red; }

.footer-container {
  background: #53b67f;
  background: radial-gradient(circle, #53b67f 0%, #086c7b 100%);
  display: flex;
  color: white;
  border-top-right-radius: 200px 200px;
  justify-content: space-around;
  flex-direction: row; }
  .footer-container .a {
    font-family: 'Overpass';
    color: #FFFFFF;
    opacity: 1;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 10px; }
  .footer-container .h3 {
    font-family: 'Overpass';
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 10px; }

.footer-logo {
  width: 22px;
  height: 22px; }

.ajuda-container {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  cursor: pointer; }

.menu {
  display: flex;
  padding-left: 15px;
  flex-direction: column;
  flex: 0.2; }

.contact {
  flex: 0.2;
  padding-right: 20px;
  text-decoration: none;
  margin-right: 5px; }
  .contact .a {
    font-family: 'Overpass';
    color: #FFFFFF;
    opacity: 1;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 10px; }
  .contact .h3 {
    font-family: 'Overpass';
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 10px; }

.abfintech {
  margin-top: 80px;
  margin-bottom: 20px; }

.direitos-container {
  margin-top: 75px; }

.disclaime {
  margin-top: 180px; }

@media (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    padding: 40px 16px; }
  .menu {
    padding: 0; }
  .contact {
    padding: 0; }
  .footer-logo {
    display: none; } }


/*# sourceMappingURL=styles.chunk.css.map*/