.profile {
  .profile-title {
    background: #3597d9;
    padding: 24px;
    h2 {
      text-align: center;
      color: white;
      margin: 0;
    }
  }
  .card {
    border-radius: 24px;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.15);
    position: relative;
    padding: 24px;
    margin: 0;
    h4 {
      margin-top: 0;
      color: #3597d9;
      text-align: center;
    }
  }
  .profile-container {
    display: flex;
    margin: 24px 10em;
    flex-direction: row;
    justify-content: center;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 285px;
    &.checkbox {
      display: flex;
      flex-direction: row;
      :first-child {
        margin-right: 8px;
      }
      a {
        color: #2e8700;
        cursor: pointer;
        margin-right: 0px !important;
      }
    }
    label {
      font-weight: bold;
      font-size: 12px;
    }
    input {
      margin-bottom: 8px;
    }
    span {
      font-size: 12px;
      color: indianred;
      font-weight: bold;
    }
  }
  .company-info {
    margin: 0 40px;
    > h3 {
      text-align: center;
      color: #3597d9;
    }
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  .zipcode-state-container {
    display: flex;
    width: 285px;
    .form-group {
      width: 138.5px;
      flex: 0.5;
      &:first-child {
        margin-right: 8px;
      }
    }
  }
  .products-container {
    width: 269px;
    margin-right: 16px;
    color: #a04096;
    .button {
      background: #a04096;
    }
  }
  .complete-data {
    width: 285px;
    color: #ed1a3b;
    .button {
      background: #ed1a3b;
    }
    margin-bottom: 24px;
  }
}
@media (max-width: 790px) {
  .profile {
    .profile-container {
      margin: 0;
      flex-direction: column;
    }
    .card {
      border-radius: 0;
      box-shadow: none;
    }
  }
  .company-info {
      margin: 0 !important;
      padding: 24px;
  }
}
