
.footer-container {
  background: rgb(83,182,127);
  background: radial-gradient(circle, rgba(83,182,127,1) 0%, rgba(8,108,123,1) 100%);
  padding: 30px 5em;
  display: flex;
  color: white;
  border-top-right-radius: 200px 200px;
  position:relative;

}

.footer-logo {
  width: 22px;
  height: 22px;
}
.menu {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  flex: 0.2;
}
.contact {
  padding-left: 80px;

  flex: 0.2;
}
@media(max-width: 700px) {
    .footer-container{
        flex-direction: column;
        padding: 40px 16px;
    }
    .lead-container {
        padding: 0;
        border: none;
    }
    .menu {
        padding: 0;
    }
    .contact {
        padding: 0;
    }
    .footer-logo { display: none;}

    .abfintech{
      display: none;
    }
}

  