.contact-card {
  margin: 100px 25em;
  padding: 24px;
  padding-bottom: 30px;
  border-radius: 32px;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.15);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2,
  .email {
    color: #395E66;
    font-weight: bold;
  }
  .form-container {
    max-width: 300px;
    padding: 16px;
    text-align: center;
    input, textarea {
        width: 280px;
    }
    textarea.organis-input {
        font-family: 'Overpass';
        padding-top: 8px;
        min-height: 100px;
    }
    .link {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        min-width: 200px;
        text-decoration: none;
    }
}
}

@media (max-width: 790px) {
  .card {
    padding: 16px;
    margin: 0 !important;
    border-radius: 0;
    box-shadow: none;
  }
}
