.card {
  margin: 100px 15em;
  padding: 56px;
  border-radius: 32px;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.15);
  position: relative;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  font-family: Muli;
  color: #395E66;

  &.success {
    margin: 100px 25em;
  }
}
.card-title {
  position: absolute;
  top: -40px;
  display: flex;
  padding: 8px 56px;
  background: #086C7B;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  margin-left: calc(35% - 68px);
  &.success {
    margin-left: calc(31% - 68px);
    background-color: #2e8700;
  }
}
.form-title {
  display: flex;
  flex: 0.5;
  max-width: 50%;
  margin-top: 20px;
  color: #2e8700;
  &.success {
    max-width: none;
  }
}

.row {
  display: flex;
  justify-content: flex-start;
  :first-child {
    margin-right: 70px;
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 285px;

  label {
    font-weight: bold;
  }
  input {
    margin-bottom: 8px;
  }
  span {
    font-size: 12px;
    color: indianred;
    font-weight: bold;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  padding-top: 44px;
  button {
    width: 285px;
  }
}

.choice-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: center;
  span {
    min-width: 300px;
  }
  button {
    min-width: 200px;
  }
}
.confirmation-container {
  display: flex;
  align-items: flex-end;

  button {
    border: none;
    padding: 0 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Muli';
    cursor: pointer; 
    height: 20px;
  }
}
.not-received {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 16px;
  span {
    font-weight: bold;
    color: #2e8700;
  }
  a {
    color: #2e8700;
    text-decoration: underline;
    cursor: pointer;
  }
}

.contact-info {
  color: #848484;
  max-width: 70%;
}
.community-info {
  max-width: 80%;
}
.finish-container {
  display: flex;
  justify-content: center;
}
