body {
  margin: 0;
}

.map-container {
  padding: 0 10em;
  height: 337px;
  display: flex;
  position: relative;
  flex-direction: column;

  h1 {
  top: 0 ;
  text-align: left;
  font-family: "Overpass" 118px;
  letter-spacing: 0;
  color: #395E66;
  opacity: 1;
  font-size: 40px;

  }

  h2 {
    top: 0;
    font-family: "Muli" 42px, "Regular" 63px;
    text-align: left;
    letter-spacing: 0;
    color: #9BADB1;
    opacity: 1;
  }
  
  h3{
   
    text-align: left;
    font-family: "Muli" 42px, "Regular" 63px;
    letter-spacing: 0;
    color: #395E66;
    opacity: 1
  }

  h4 {
    top: 6019px;
    left: 593px;
    width: 766px;
    height: 38px;
    text-align: left;
    font-family: "Muli" 42px, "Regular" 63px;
    letter-spacing: 0;
    color: #395E66;
    opacity: 1
    }

} 
.map {
  position: absolute;
top: -120px;
bottom: 0;
left: 0;
right: 0;
font-family: "Muli", "Regular";
letter-spacing: 0;
color: #395E66;
opacity: 1;
 
}
.buttons-container {
  flex: 0.5;
  justify-content: space-between;
  > .button {
    margin-right: 24px;
    min-width: 230px;
    margin-bottom: 8px;
  }
}
.products-bg {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 400px;
  right: 0;
  background: url("/");
  z-index: -1;
  background-size: cover;
}
.who-we-are {
  padding: 0 10em;

  position: relative;
  padding-bottom: 110px;
  p {
    font-size: 16px;
    max-width: 400px;
  }
}
.certified-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .certificates {
    display: flex;
    padding-bottom: 16px;
    :first-child {
      margin-right: 16px;
    }
  }
  span {
    font-weight: bold;
  }
  p {
    margin: 0;
  }
}
.mission-container {
 
  padding-top: 55px;
  background-blend-mode: screen;
 
  padding-bottom: 80px;
  flex: 1;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column;
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    padding: 0 15em;
  }
}

.traits-container {
  display: flex;
  justify-content: space-around;
  padding: 50px 15em;
}

.trait {
  display: flex;
  flex-direction: column;
  > span {
    font-weight: 600;
    padding-top: 16px;
    max-width: 156px;
    text-align: center;
  }
}
.differentials-container {
top: 195px;
left: 970px;
width: 848px;
height: 769px;
}

.differential-container {
  height: 290px;
  display: flex;
  > div {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    &:last-child {
      > img {
        right: 0px;
      }
      > h1 {
        top: 65px;
        left: 1012px;
        width: 174px;
        height: 30px;
    text-align: left;
    font-family: "Muli", "Regular";
    letter-spacing: 0;
    color: #395E66;
    opacity: 1;
      }
    }
    > img {
      position: absolute;
      z-index: -1;
    }

    .id1{
      position: absolute;
align-content: flex-start;    }

    > h1 {
font: Regular 94px/118px Overpass;
letter-spacing: 0;
color: #395E66;
opacity: 1;
      text-align: left;
      top: 368px;
left: 142px;
width: 770px;
height: 213px;
    }
  }
  > p {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;
  }
}
.thumbs-up {
  top: -30px;
}

.profile-choice-container {
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 20em;
  height: 512px;
  align-items: center;

  .bg-left {
    position: absolute;
    left: 0;
  }
  .bg-right {
    position: absolute;
    right: 0;
  }
  .services {
    padding-right: 32px;
    border-right: 1px solid;
  }
  .market {
    margin-left: 32px;
  }
}
@media (max-width: 700px) {
  .map-container {
    padding: 0 24px;
  }
  .who-we-are {
    padding: 50px 24px;
  }
  .mission-container {
    p {
      padding: 0 24px;
    }
  }
  .traits-container {
    flex-direction: column;
    padding: 50px 24px;
  }
  .trait {
    align-items: center;
    margin-bottom: 24px;
  }
  .differentials-container {
    padding: 70px 24px 50px 24px;
  }
  .differential-container {
    height: auto;
    flex-direction: column;
    display: flex;
    &:nth-child(even) {
      flex-direction: column-reverse;
    }
  }
  .profile-choice-container {
    margin-top: 0px;
    padding: 0 24px;
    flex-direction: column;
    .bg-left {
      opacity: 0.15;
    }
    .bg-right {
      display: none;
    }
    .services {
      padding: 0;
      border: none;
    }
    .market {
      margin: 0;
    }
  }
  iframe {
    width: fit-content;
  }

  .poligono-container {
  background: url("/poligono.svg");
  
  }
  .anteceba-container{
   
  }

  .cursor-container{
  position: flex;
  text-align: right;
  padding: 0 50em;
  }

.lead-container{
  padding: 0;
  border: none ;

}

}
