@font-face {
  font-family: 'Overpass';
  src: local('/fonts/Overpass Light'), local('Overpass-Light'),
    url('/fonts/Overpass-Light.woff2') format('woff2'),
    url('/fonts/Overpass-Light.woff') format('woff'),
    url('/fonts/Overpass-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Overpass';
  src: local('/fonts/Overpass Regular'), local('Overpass-Regular'),
    url('/fonts/Overpass-Regular.woff2') format('woff2'),
    url('/fonts/Overpass-Regular.woff') format('woff'),
    url('/fonts/Overpass-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: local('/fonts/Muli Regular'), local('Muli-Regular'),
    url('/fonts/Muli-Regular.woff2') format('woff2'),
    url('/fonts/Muli-Regular.woff') format('woff'),
    url('/fonts/Muli-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: local('/fonts/Muli Light'), local('Muli-Light'),
    url('/fonts/Muli-Light.woff2') format('woff2'),
    url('/fonts/Muli-Light.woff') format('woff'),
    url('/fonts/Muli-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  padding-block-end: initial;
  flex-direction: row;
}

.no-scroll {
  overflow: hidden;
}

.modal-label {
  text-align: left;
  text-decoration: none;
  font-family: 'Muli';
  font-weight: 600;
  letter-spacing: 0;
  color: #395E66;
  cursor: pointer;
  opacity: 1
}

a.modal-label {
  opacity: .65
}

a.modal-label:hover {
  text-decoration: underline;
  opacity: 1
}

.link a {
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }
}

.main-page-wrapper {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 1em;
  width: 86%;
  max-width: 1600px;
}

.remove-padding {
  padding: 0 !important;
}

.map-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 4em 0 0;
  position: relative;
  min-height: auto;
  width: 100%;

  h1 {
    font-family: 'Overpass';
    font-size: 50px;
    font-weight: 200;
    color: #395E66;
    opacity: 1;
    text-align: left;
    letter-spacing: 0;
    margin: 0;

  }

  h2 {
    font-family: 'Overpass';
    font-size: 25px;
    font-weight: 200;
    color: #9BADB1;
    opacity: 1;
    text-align: left;
    letter-spacing: 0;
    margin: 0;
  }

  h3 {
    font-family: "Muli-Regular";
    color: #395E66;
    opacity: 50%;
    text-align: left;
    letter-spacing: 0;
    margin: 0;
  }

  h4 {
    top: 6019px;
    left: 593px;
    width: 766px;
    height: 38px;
    text-align: left;
    font-family: 'Muli';
    letter-spacing: 0;
    color: #395E66;
    opacity: 50%
  }

}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  background: url("/img-abre-site.svg")no-repeat;
  background-size: contain;
  background-position: center top;
  z-index: -1;
  width: 50%;
}

.map-texts {
  width: 50%;
  margin-bottom: 7em;

  h1 {
    margin-bottom: .3em;
  }

  h2 {
    margin-bottom: 1.8em;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  list-style: none;
}

ul.list {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  list-style: none;

  li {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    >* {
      font-family: Muli;
      font-weight: 600;
      font-size: .85em;
      flex: 1;
      color: rgba($color: #395E66, $alpha: .5);
    }

    &::before {
      content: '';
      display: inline-flex;
      width: 8px;
      height: 8px;
      margin-right: 10px;
      background: rgba($color: #395E66, $alpha: .5);
      border-radius: 50%;
    }
  }
}

.buttons-container {
  justify-content: space-between;
  margin-bottom: 3em;

  .button {
    margin-right: 24px;
    min-width: 178px;
    margin-bottom: 8px;

    h1 {
      margin-top: 0px;
      text-align: left;
      font-family: 'Overpass';
      letter-spacing: 0;
      color: #395E66;
      opacity: 1;
      font-size: 50px;
      font-weight: 200;
      margin-bottom: 0;
      margin-left: 40px;

    }

    &:last-child {
      margin-right: 0 !important;
    }
  }

  &.small {
    margin-bottom: 0;

    .button {
      margin-right: 10px;
      height: 46px;
      min-width: 120px;
      font-size: .9em;
    }
  }
}

.antecipar {
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;

  h1 {
    margin-top: 50px;
    text-align: left;
    font-family: 'Overpass';
    letter-spacing: 0;
    color: #395E66;
    opacity: 1;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 0px
  }

  h2 {
    margin-top: 20px;
    text-align: left;
    font-family: 'Overpass';
    letter-spacing: 0;
    color: #9BADB1;
    opacity: 1;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 20px;
    margin-left: 0px
  }

  h3 {
    text-align: left;
    font-family: 'Muli';
    letter-spacing: 0;
    color: #395E66;
    opacity: 1
  }

  h4 {
    text-align: left;
    font-family: 'Muli';
    letter-spacing: 0;
    color: #395E66;
    opacity: 1
  }

  .poligono-container {
    background-image: url("/poligono.svg");
    resize: 'cover';
    width: 100%;

  }

  .poligono-container {
    position: absolute;
    top: 0px;
    bottom: 40px;
    left: 0px;
    right: -150px;
    background: url("/poligono.svg");
    z-index: -1;
    background-size: cover;
  }



  .antecipar {
    flex-direction: column;
  }

  .differential-container {
    height: auto;
    flex-direction: column;
    display: flex;

    &:nth-child(even) {
      flex-direction: column-reverse;
    }
  }

}

.indicar-wrapper {
  margin: 4em 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

img {
  display: block;

  &.full {
    width: 100%;
  }
}

.investidor {
  margin: 100px 25em;
  padding: 24px;
  border-radius: 32px;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.15);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.juscredit-input {
  top: 0px;
  width: 230px;
  background: 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 50px #030B6117;
  opacity: 1;
  border-radius: 51px;
  opacity: 1;
  margin-top: 5px;
  align-items: center;
  size: 31px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding-right: 50px;
  padding-left: 60px;
  height: 48px;
}

.cards-showcase-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 2.5em 0;

  &::after {
    content: '';
    display: flex;
    position: absolute;
    border-bottom: 4px dashed #086C7B;
    width: 100%;
    height: auto;
    top: 50%;
    z-index: -9999;
  }

  .card {
    flex: 1;
    margin-left: 0;
    margin-right: 2em;
    margin-bottom: 1em;
    margin-top: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.cards-howto-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 2.5em auto;
  max-width: 760px;

  .card {
    flex: 1;
    margin-left: 0;
    margin-right: 1.3em;
    margin-bottom: 1.3em;
    margin-top: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.cards-row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  -webkit-box-shadow: 0px 6px 64px -9px rgba(27, 40, 155, 0.3);
  -moz-box-shadow: 0px 6px 64px -9px rgba(27, 40, 155, 0.3);
  box-shadow: 0px 6px 64px -9px rgba(27, 40, 155, 0.3);
  box-sizing: border-box;
  border-radius: 1em;
  position: relative;

  .card-inner {
    background: #FFFFFF;
    border-radius: inherit;
    padding: 1.6em 1em;

    p {
      font-family: Muli;
      font-weight: 600;
      font-size: .85em;
      line-height: 1.8;
      color: rgba($color: #395E66, $alpha: .5);
    }
  }

  .card-number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 1em;
    right: 1em;
    margin: 0;
    background: #eee;
    width: 1.6em;
    height: 1.6em;
  }
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.flex {
  display: flex;
}

.flex-two-columns {
  display: flex;
  flex-direction: row;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.MuiDialog-paperScrollPaper {
  min-width: 500px;
}

.MuiDialogTitle-root {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
}

.modal-form {

  .MuiTextField-root,
  .MuiFormControl-root {
    margin-bottom: 1.6em;
  }
}

.MuiOutlinedInput-input {
  color: #000;
}

.MuiInputBase-root {
  color: rgba($color: #9BADB1, $alpha: .5) !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgba($color: #395E66, $alpha: 1) !important;
}

.MuiInputLabel-root.Mui-focused {
  color: rgba($color: #395E66, $alpha: 1) !important;
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: rgba($color: #395E66, $alpha: 1) !important;
}

.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3,
.MuiTypography-h4,
.MuiTypography-h5,
.MuiTypography-h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Overpass', sans-serif !important;
}

.MuiInputBase-input,
.MuiMenuItem-root,
.MuiFormLabel-root,
p,
span,
li {
  font-family: 'Muli', sans-serif !important;
}

.MuiInputBase-input {
  color: #395E66 !important;
}

@media (max-width: 1125px) {
  .map-texts {
    width: 70%;
    margin-bottom: 3em;
  }
}

@media (max-width: 790px) {
  .main-page-wrapper {
    width: 100%;
  }

  .map {
    padding: 0;
    right: 0;
    display: none;
  }

  .map-texts {
    width: 100%;
    margin-bottom: 0;
  }

  .duvidas-container {
    p {
      padding: 0 24px;
    }
  }

  .parceiros-container {
    flex-direction: column;
    padding: 50px 24px;
  }

  .antecipar {
    align-items: center;
    margin-bottom: 24px;
  }

  .differential-container {
    height: auto;
    flex-direction: column;
    display: flex;

    &:nth-child(even) {
      flex-direction: column-reverse;
    }
  }

  .investidor {
    margin-top: 0px;
    padding: 0 24px;
    flex-direction: column;

    .bg-left {
      opacity: 0.15;
    }

    .bg-right {
      display: none;
    }

    .services {
      padding: 0;
      border: none;
    }

    .market {
      margin: 0;
    }
  }

  .duvidas-container {
    margin-top: 0px;
    padding: 0 24px;
    flex-direction: column;

    .bg-left {
      opacity: 0.15;
    }

    .bg-right {
      display: none;
    }

    .services {
      padding: 0;
      border: none;
    }

    .market {
      margin: 0;
    }

    iframe {
      width: fit-content;
    }
  }

  .cards-showcase-wrapper,
  .cards-howto-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5em 0;

    &::after {
      content: '';
      display: none;
    }

    .card {
      flex: 1 100%;
      margin-right: 0;
      margin-bottom: 1.3em;
    }
  }

  .cards-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .flex-two-columns {
    display: flex;
    flex-direction: column;
  }

  .MuiDialog-paperScrollPaper {
    min-width: 95%;
  }

}

// @media (min-width: 1125px) {
//   .map-container {
//     min-height: 560px;
//   }
// }

.backdrop-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba($color: #FFFFFF, $alpha: 1);

  .backdrop-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .backdrop-title {
    color: rgba($color: #395E66, $alpha: 1);
  }
}